{% load djournal_navigation %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title>Djournal Example Site</title>
		{% endif %}
		{% if description %}
			<meta name="description" content="{{ description }}" />
		{% else %}
			<meta name="description" content="" />
		{% endif %}
		<meta name="author" content="" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<script type="text/javascript" src="{{ STATIC_URL }}djournal/js/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}djournal/js/djournal.js"></script>
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link type="text/css" href="{{ STATIC_URL }}djournal/style/structure.css" rel="stylesheet" />
		<link type="text/css" href="{{ STATIC_URL }}djournal/style/post.css" rel="stylesheet" />
		<link type="text/css" href="{{ STATIC_URL }}djournal/style/messages.css" rel="stylesheet" />
		<link type="text/css" href="{{ STATIC_URL }}djournal/style/pagination.css" rel="stylesheet" />
	</head>
	<body>
		<div id="main">
			<header id="top">
				<img id="logo" src="{{ STATIC_URL }}djournal/images/logo.png" />
				<h1>Django Blog engine</h1>
			</header>
			<div id="content-wrap">
				<div id="content">
					{% block content %}{% endblock %}
				</div>
				<div id="sidebar">
					{% djournal_tag_nav %}
					{% djournal_dates_nav %}
				</div>
			</div>
			<footer id="bottom">
				<p>
					<a href="http://www.cobalys.com">Cobalys</a> GPLv3
				</p>
			</footer>
		</div>
	</body>
</html>
