{% load djournal_navigation djournal_syndication %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title>Djournal Example Site</title>
		{% endif %}
		{% if description %}
			<meta name="description" content="{{ description }}" />
		{% else %}
			<meta name="description" content="" />
		{% endif %}
		<meta name="author" content="" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<!--[if lt IE 9]>
			<script src="{{ STATIC_URL }}djournalsite/js/html5.js"></script>
		<![endif]-->
		<!--[if lte IE 6]>
			<link href="{{ STATIC_URL }}djournalsite/css/png-transparency.css" rel="stylesheet" type="text/css">
		<![endif]-->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		{% djournal_rss_head %}
		<script type="text/javascript" src="{{ STATIC_URL }}djournalsite/js/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}djournalsite/js/jquery-ui-1.8.13.custom.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}djournal/js/djournal-sidebar.js"></script>

		<link type="text/css" href="{{ STATIC_URL }}djournalsite/style/entry.css" rel="stylesheet" />
		<link type="text/css" href="{{ STATIC_URL }}djournalsite/style/messages.css" rel="stylesheet" />
		<link type="text/css" href="{{ STATIC_URL }}djournalsite/style/pagination.css" rel="stylesheet" />
		<link type="text/css" href="{{ STATIC_URL }}djournalsite/style/sidebar.css" rel="stylesheet" />
		<link type="text/css" href="{{ STATIC_URL }}djournalsite/style/structure.css" rel="stylesheet" />
	</head>
	<body>
		<div id="main" class="container">
		<div  style="opacity: 0.5;background-color: #CCCCCC;background-image:url('{{ STATIC_URL }}djournalsite/images/background-main.png');background-position:center;background-repeat:repeat-y;  width:100%;">
			</div>
			<header id="top">
				<div class="twentytwo offset-by-one columns" style="margin-top: 60px; height: 210px; padding-top: 15px;">
					<a href="/"><img id="logo" src="{{ STATIC_URL }}djournalsite/images/logo.png" /></a>
				</div>
			</header>
			<div id="content-wrap">
					<div id="content" style="margin-left:60px;">
						{% block content %}{% endblock %}
					</div>
					<div id="sidebar" class="five offset-by-two columns">
						{% djournal_tag_sidebar %}
						{% djournal_date_sidebar  %}
					</div>
					<br style="clear: both">
			</div>
			<footer id="bottom">
				<div style="background-image:url('{{ STATIC_URL }}djournalsite/images/background-bottom.jpg');width: 975px; margin: auto; height: 310px; background-repeat: no-repeat;padding-top: 40px;">
					<p>
						<a href="http://www.cobalys.com">Cobalys</a> GPLv3
					</p>
				</div>
			</footer>
		</div>
		
	</body>
</html>
