

	<nav class='sidebar-module'>
		<p id='date-sidebar-title' class='module-title'>Archive</p>
		<div class="content">
		
			<h3 class='date-sidebar-year date-sidebar-year-collapsed'><a href='#'>2012</a></h3>
			
					<div class='month-date-sidebar'>
						<p class='date-sidebar-month'><a href='/blog/4/2012/entries.html'>April (8)</a></p>
					</div>
			
					<div class='month-date-sidebar'>
						<p class='date-sidebar-month'><a href='/blog/5/2012/entries.html'>May (3)</a></p>
					</div>
			
		
			<h3 class='date-sidebar-year date-sidebar-year-collapsed'><a href='#'>2014</a></h3>
			
					<div class='month-date-sidebar'>
						<p class='date-sidebar-month'><a href='/blog/5/2014/entries.html'>May (1)</a></p>
					</div>
			
					<div class='month-date-sidebar'>
						<p class='date-sidebar-month'><a href='/blog/7/2014/entries.html'>July (1)</a></p>
					</div>
			
		
		</div>
	</nav>
