{% load i18n %}
{% if date_menu_items %}
	<nav class='sidebar-module blue'>
		<p id='date-sidebar-title' class='module-title'>{% trans "Archive" %}</p>
		<div class="content">
		{% for year in date_menu_items %}
			<h3 class='date-sidebar-year date-sidebar-year-collapsed'>{{ year.0 }}</h3>
			{% for month in year.1%}
					<div class='month-date-sidebar' {% templatetag openblock %} if year_expanded == {{year.0}} {% templatetag closeblock %}style="display:block;"{% templatetag openblock %}endif{% templatetag closeblock %}>
						<p class='date-sidebar-month'><a href='{% url djournal-entries-month month.0 year.0  %}'>{{ month.1 }} ({{ month.2 }})</a></p>
					</div>
			{% endfor %}
		{% endfor %}
		</div>
	</nav>
{% endif %}