table.pagination, table.pagination a{
    color: #777;
    font-size: 17px;
    font-variant: small-caps;
    font-weight: bold;
    width: 100%;
}

*.pagination-left{
    margin-left: 80px;
    text-align: left;
    width: 175px;
}

*.pagination-center{
	margin:auto;
	text-align:center;	
}

*.pagination-right{
	width: 175px;	
	margin-right:80px;
	text-align:right;
}


footer.pagination {
    margin-top: 60px;
    padding-top: 5px;
    border-top: 1px solid #CCCCCC;
    color: #555555;
    padding-top: 5px;
}