nav.sidebar-module {
    font-size: 14px;
    min-height: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}
nav.sidebar-module div.content {
    padding-bottom: 20px;
}
.module-title {
    color: #555;
    font: 23px Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    line-height: 31px;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    vertical-align: baseline;
    margin-bottom: 3px;
    margin-top: 7px;
}
p.tag-sidebar-item {
    font-size: 15px;
}
p.tag-sidebar-item a {
    color: #333;
    text-transform: capitalize;
}
p.date-sidebar-year-collapsed {
    background-image: url("../images/arrow-right.png");
}
p.date-sidebar-year-expanded {
    background-image: url("../images/arrow-down.png");
}
p.date-sidebar-year {
    background-position: left;
    background-repeat: no-repeat;
    border-style: none;
    border-width: 0px;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 5px;
    padding-left: 15px;
    cursor: pointer;
}
p.date-sidebar-month {
    padding-left: 22px;
    border-style: none;
    border-width: 0px;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
}
#sidebar-menu a {
    color: #555555;
}
.month-date-sidebar {
    display: none;
    margin-left: 0;
    padding: 2px 0 2px 2px;
}


