table.pagination{
	color: #555555;
    font-variant: small-caps;
	width:100%;
 
}

*.pagination-left{
	width: 175px;	
	margin-left:80px;
	text-align:left;
}

*.pagination-center{
	margin:auto;
	text-align:center;	
}

*.pagination-right{
	width: 175px;	
	margin-right:80px;
	text-align:right;
}