.djournal-date{
	font-family:Arial,sans-serif;
	font-size:10px;
	font-weight:bold;
	font-style:normal;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:2.15px;
	color:#333;
}
div.djournal-entry{
	margin: 10px 10px 65px;
}

.djournal-title{
	color:#333;
	font-size:27px;
	margin-top:30px;
}
.djournal-body{
    font-size: 14px;
    margin-top: 10px;
    text-align: justify;
}

.djournal-tags{
    font-size: 13px;
    margin-top: 10px;
    text-align: justify;
}

