{% load i18n %}
{% if year_dict %}
	<div class='sidebar-module'>
		<p id='date-sidebar-title' class='module-title'>{% trans "Archive" %}</p>
		<div>
		{% for year in year_dict %}
			<h3 class='date-sidebar-year date-sidebar-year-collapsed'><a href='#'/>{{ year.0 }}</a></h3>
			{% for month in year.1%}
					<div class='month-date-sidebar'>
						<p class='date-sidebar-month'><a href='{% url djournal-entries-month month.0 year.0  %}'>{{ month.1 }} ({{ month.2 }})</a></p>
					</div>
			{% endfor %}
		{% endfor %}
		</div>
	</div>
{% endif %}