{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}
{% block extrahead %}{{ block.super }}
{% url admin:jsi18n as jsi18nurl %} <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }} <script type="text/javascript" src="{% admin_media_prefix %}js/urlify.js"></script>
{% endblock %}
{% block extrastyle %}{{ block.super }}
<style media="screen" type="text/css">
	.ui-autocomplete {
		padding: 0px;		
		width: 610px;
		border-left: 1px solid #CCCCCC;
		border-right: 1px solid #CCCCCC;
		border-bottom: 1px solid #CCCCCC;
	}
	.ui-autocomplete li {
		cursor:pointer;
		list-style: none;
		background-color: #fff;
		padding-left: 3px;		
	}
	.ui-autocomplete li:hover {
		background-color: #B3D7FF;		
	}
	#id_tags {
		width: 610px;
	}
</style>
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
{% endblock %}
{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
	<a href="../../../">{% trans "Home" %}</a> &rsaquo; <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
	{% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
	{% if add %}{% trans "Add" %}{{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}
{% block content %}
<div id="content-main">
	{% block object-tools %}
	{% if change %}{% if not is_popup %}
	<ul class="object-tools">
		<li>
			<a href="history/" class="historylink">{% trans "History" %}</a>
		</li>
		{% if has_absolute_url %}
		<li>
			<a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a>
		</li>
		{% endif%}
	</ul>
	{% endif %}{% endif %}
	{% endblock %}
	<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">
		{% csrf_token %}{% block form_top %}{% endblock %}
		<div>
			{% if errors %}
			<p class="errornote">
				{% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
			</p>
			{{ adminform.form.non_field_errors }}
			{% endif %}
			{% if is_popup %}
			<input type="hidden" name="_popup" value="1" />
			{% endif %}
			{% if save_on_top %}{% submit_row %}{% endif %}

			{% for fieldset in adminform %}
			<fieldset class="module aligned {{ fieldset.classes }}">
				{% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
				{% if fieldset.description %}
				<div class="description">
					{{ fieldset.description|safe }}
				</div>
				{% endif %}
				{% for line in fieldset %}
				<div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %} {{ field.field.name }}{% endfor %}">
					{% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
					{% for field in line %}
					<div{% if not line.fields|length_is:'1' %} class="field-box{% if not field.is_readonly and field.errors %} errors{% endif %}"{% endif %}>
						{% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
						{% if field.is_checkbox %}
						{{ field.field }}{{ field.label_tag }}
						{% else %}
						{{ field.label_tag }}
						{% if field.is_readonly %}
						<input type="text" maxlength="25" name="tags" class="vTextField" id="id_tags" value="{% if field.contents != '(None)' %}{{ field.contents }}{% endif %}" />
						{% else %}
						{{ field.field }}
						{% endif %}
						{% endif %}
						{% if field.field.field.help_text %}
						<p>
							{{ field.field.field.help_text|safe }}
						</p>
						{% endif %}
				</div>
				{% endfor %}
		</div>
		{% endfor %}
		</fieldset>

		{% endfor %}
		{% block after_field_sets %}{% endblock %}

		{% for inline_admin_formset in inline_admin_formsets %}
		{% include inline_admin_formset.opts.template %}
		{% endfor %}

		{% block after_related_objects %}{% endblock %}

		{% submit_row %}

		{% if adminform  %}
		<script type="text/javascript">
			function split(val) {
				return val.split(/,\s*/);
			}

			function extractLast(term) {
				return split(term).pop();
			}


			document.getElementById("{{ adminform.first_field.auto_id }}").focus();
			jQuery(function() {
				$.ajax({
					url : "{% url djournal-entries-tags-json %}",
					context : document.body,
					dataType : 'script',
					type : "POST",
					success : function(result) {
						availableTags = eval(result);
						jQuery("#id_tags").bind("keydown", function(event) {
							if(event.keyCode === jQuery.ui.keyCode.TAB && jQuery(this).data("autocomplete").menu.active) {
								event.preventDefault();
							}
						}).autocomplete({
							minLength : 0,
							source : function(request, response) {
								response(jQuery.ui.autocomplete.filter(availableTags, extractLast(request.term)));
							},
							focus : function() {
								return false;
							},
							select : function(event, ui) {
								var terms = split(this.value);
								terms.pop();
								terms.push(ui.item.value);
								terms.push("");
								this.value = terms.join(", ");
								return false;
							}
						});
					},
					failure : function(msg) {
						alert('Failure');
					}
				});
			});

			document.getElementById("{{ adminform.first_field.auto_id }}").focus();
			jQuery(function() {
				jQuery("#id_title").bind("keyup", function(event) {
					if(event.keyCode === jQuery.ui.keyCode.TAB && jQuery(this).data("autocomplete").menu.active) {
						event.preventDefault();
					}
					jQuery("#id_slug").val(URLify(jQuery("#id_title").val(), 100));
				})
			});

		</script>
		{% endif %}
		{# JavaScript for prepopulated fields #}
		{% prepopulated_fields_js %}
</div>
</form>
</div>
{% endblock %}