{% load djournal_navigation %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title>Djournal Example Site</title>
		{% endif %}
		{% if description %}
			<meta name="description" content="{{ description }}" />
		{% else %}
			<meta name="description" content="" />
		{% endif %}
		<meta name="author" content="" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link type="text/css" href="{{ STATIC_URL }}style/structure.css" rel="Stylesheet" />
		<link type="text/css" href="{{ STATIC_URL }}style/post.css" rel="Stylesheet" />
		<link type="text/css" href="{{ STATIC_URL }}style/messages.css" rel="Stylesheet" />
		<link type="text/css" href="{{ STATIC_URL }}style/pagination.css" rel="Stylesheet" />
	</head>
	<body>
		<div id="main">
			<header id="top">
				<h1>Djournal Example</h1>
			</header>
			<div id="content-wrap">
				<div id="content">
					{% block content %}{% endblock %}
				</div>
				<div id="sidebar">
					{% djournal_tag_nav %}
					{% djournal_dates_nav %}
				</div>
			</div>
			<footer id="bottom">
				<p>
					&copy; Copyright  by
				</p>
			</footer>
		</div>
	</body>
</html>
