ul.ui-autocomplete {
    cursor: pointer;
    height: 23px;
    left: 401px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    position: relative;
    top: -114.633px;
    width: 220px;
    z-index: 1;
    margin: 0;
    padding: 0;
}
li.ui-menu-item {
    list-style: none;
    font-size: 11px;
    font-weight: normal;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #fff;
    height: 12px;
    color: #666;
    border: 1px solid #CCCCCC;
    border-top-style: none;
    border-top-width: 0;
    border-bottom-style: none;
    border-bottom-width: 0;
}
li.ui-menu-item:last-child {
    border-bottom: 1px solid #ccc;
}
li.ui-menu-item:hover {
    background-color: #B8CFE7;
}

#id_excerpt{
	height: 250px;	
}
