{% load i18n %}
{% if date_menu_items %}
	<nav class='sidebar-module'>
		<h4 id='date-sidebar-title' class='module-title'>{% trans "Archive" %}</h4>
		<div class="content">
		{% for year in date_menu_items %}
			<p class='date-sidebar-year date-sidebar-year-collapsed'>{{ year.0 }}</p>
			{% for month in year.1%}
					<div class='month-date-sidebar' {%  if year_expanded == year.0 or current_year == year.0 %}style="display:block;"{% endif %}>
						<p class='date-sidebar-month'><a href='{% url 'djournal-entries-month' month.0 year.0  %}'>{{ month.1 }} ({{ month.2 }})</a></p>
					</div>
			{% endfor %}
		{% endfor %}
		</div>
	</nav>
{% endif %}